<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>YhteysTestaaja</servlet-name>
        <servlet-class>Taksidb.Tietokanta.YhteysTestaaja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Yhteys</servlet-name>
        <servlet-class>Testit.YhteysTesti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Testi</servlet-name>
        <servlet-class>Tietokanta.Testi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listaustesti</servlet-name>
        <servlet-class>Testit.ListausTesti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KayttajaServlet</servlet-name>
        <servlet-class>Servletit.KayttajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoServlet</servlet-name>
        <servlet-class>Servletit.AutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjovuoroServlet</servlet-name>
        <servlet-class>Servletit.AjovuoroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KuljettajaServlet</servlet-name>
        <servlet-class>Servletit.KuljettajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KyytiServlet</servlet-name>
        <servlet-class>Servletit.KyytiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KirjautuminenServlet</servlet-name>
        <servlet-class>Servletit.KirjautuminenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EtusivuServlet</servlet-name>
        <servlet-class>Servletit.EtusivuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YliServlet</servlet-name>
        <servlet-class>Servletit.ToistuvatMetoditServleteille</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KyytiServlet_1</servlet-name>
        <servlet-class>Servletit.KyytiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutonKyyditServlet</servlet-name>
        <servlet-class>Servletit.AutonKyyditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KuljettajanKyyditServlet</servlet-name>
        <servlet-class>Servletit.KuljettajanKyyditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YliServlet_1</servlet-name>
        <servlet-class>Servletit.ToistuvatMetoditServleteille</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NaytaAddAutoServlet</servlet-name>
        <servlet-class>Servletit.Lisaaminen.NaytaAddAutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UloskirjautuminenServlet</servlet-name>
        <servlet-class>Servletit.UloskirjautuminenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NaytaAddKuljettajaServlet</servlet-name>
        <servlet-class>Servletit.Lisaaminen.NaytaAddKuljettajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NaytaAddKyytiServlet</servlet-name>
        <servlet-class>Servletit.Lisaaminen.NaytaAddKyytiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaKuljettajaServlet</servlet-name>
        <servlet-class>Servletit.Lisaaminen.LisaaKuljettajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaAutoServlet</servlet-name>
        <servlet-class>Servletit.Lisaaminen.LisaaAutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaKyytiServlet</servlet-name>
        <servlet-class>Servletit.Lisaaminen.LisaaKyytiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuokkaaAutoServlet</servlet-name>
        <servlet-class>Servletit.Muokkaaminen.MuokkaaAutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NaytaEditAutoServlet</servlet-name>
        <servlet-class>Servletit.Muokkaaminen.NaytaEditAutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NaytaPoistaAutoServlet</servlet-name>
        <servlet-class>Servletit.NaytaPoistaAutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoistaAutoServlet</servlet-name>
        <servlet-class>Servletit.Poistaminen.PoistaAutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoistaKuljettajaServlet</servlet-name>
        <servlet-class>Servletit.Poistaminen.PoistaKuljettajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NaytaEditKuljettajaServlet</servlet-name>
        <servlet-class>Servletit.Muokkaaminen.NaytaEditKuljettajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuokkaaKuljettajaServlet</servlet-name>
        <servlet-class>Servletit.Muokkaaminen.MuokkaaKuljettajaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>YhteysTestaaja</servlet-name>
        <url-pattern>/YhteysTestaaja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Yhteys</servlet-name>
        <url-pattern>/Yhteys</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Testi</servlet-name>
        <url-pattern>/Testi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listaustesti</servlet-name>
        <url-pattern>/Listaustesti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KayttajaServlet</servlet-name>
        <url-pattern>/KayttajaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoServlet</servlet-name>
        <url-pattern>/AutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjovuoroServlet</servlet-name>
        <url-pattern>/AjovuoroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KuljettajaServlet</servlet-name>
        <url-pattern>/KuljettajaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KyytiServlet</servlet-name>
        <url-pattern>/KyytiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirjautuminenServlet</servlet-name>
        <url-pattern>/KirjautuminenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EtusivuServlet</servlet-name>
        <url-pattern>/EtusivuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YliServlet</servlet-name>
        <url-pattern>/YliServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KyytiServlet</servlet-name>
        <url-pattern>/KyytiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutonKyyditServlet</servlet-name>
        <url-pattern>/AutonKyyditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KuljettajanKyyditServlet</servlet-name>
        <url-pattern>/KuljettajanKyyditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YliServlet_1</servlet-name>
        <url-pattern>/YliServlet_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NaytaAddAutoServlet</servlet-name>
        <url-pattern>/NaytaAddAutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UloskirjautuminenServlet</servlet-name>
        <url-pattern>/UloskirjautuminenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NaytaAddKuljettajaServlet</servlet-name>
        <url-pattern>/NaytaAddKuljettajaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NaytaAddKyytiServlet</servlet-name>
        <url-pattern>/NaytaAddKyytiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaKuljettajaServlet</servlet-name>
        <url-pattern>/LisaaKuljettajaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaAutoServlet</servlet-name>
        <url-pattern>/LisaaAutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaKyytiServlet</servlet-name>
        <url-pattern>/LisaaKyytiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuokkaaAutoServlet</servlet-name>
        <url-pattern>/MuokkaaAutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NaytaEditAutoServlet</servlet-name>
        <url-pattern>/NaytaEditAutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NaytaPoistaAutoServlet</servlet-name>
        <url-pattern>/NaytaPoistaAutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoistaAutoServlet</servlet-name>
        <url-pattern>/PoistaAutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoistaKuljettajaServlet</servlet-name>
        <url-pattern>/PoistaKuljettajaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NaytaEditKuljettajaServlet</servlet-name>
        <url-pattern>/NaytaEditKuljettajaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuokkaaKuljettajaServlet</servlet-name>
        <url-pattern>/MuokkaaKuljettajaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>kirjautuminen.jsp</welcome-file>
    </welcome-file-list>
</web-app>
